
<div class="conatiner" style="padding: 5%;">
    <div class="row equal">
        <div class="col" *ngFor="let pokemon of pokemonList; let indexOfelement=index;" class="col-md-2 d-flex pb-4">
            <button (click)="viewDetail(pokemon.name)" class="card h-100" style="width: 16rem; padding-top: 1rem;">
                <img class="card-img-top" src="https://pokeres.bastionbot.org/images/pokemon/{{indexOfelement+1}}.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-text text-center">#{{ indexOfelement+1 }} | {{ pokemon.name }}</h4>
                </div>
            </button>
        </div>
    </div>
</div>
