<div class="conatiner" style="padding: 5%;">
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="card text-white mb-3" style="background-color: #1F3944;">
                <img class="card-img-top" src="https://pokeres.bastionbot.org/images/pokemon/{{pokemonDetail.id}}.png" alt="Card image cap">
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card bg-light mb-3">
                <h1># {{ pokemonDetail.id }} | {{ pokemonDetail.name }}</h1>
                <hr>
                <div class="card text-center text-light custom-card-one">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <div class="col">
                                <h5>Height: {{ pokemonDetail.height }}</h5>
                            </div>
                            <div class="col">
                                <div *ngFor="let typeList of pokemonDetail.types">
                                    <button type="button" class="btn text-light custom" style="margin-bottom: 5px;" [ngStyle]="{'background-color':getColor(typeList.type.name)}">{{ typeList["type"]["name"] }}</button>
                                </div>
                            </div>
                            <div class="col">
                                <h5>Weight: {{ pokemonDetail.weight }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <p style="font-weight: bold;">Strong Against:</p>
                <div class="d-flex flex-wrap">
                    <div class="p-2" *ngFor="let item of strongAgainstList">
                        <button type="button" class="btn text-light custom" [ngStyle]="{'background-color':getColor(item)}">{{ item }}</button>
                    </div>
                </div>
                <p style="font-weight: bold;">Weak Against:</p>
                <div class="d-flex flex-wrap">
                    <div class="p-2" *ngFor="let item of weakAgainstList">
                        <button type="button" class="btn text-light custom" [ngStyle]="{'background-color':getColor(item)}">{{ item }}</button>
                    </div>
                </div>
                <p style="font-weight: bold;">Resistant To:</p>
                <div class="d-flex flex-wrap">
                    <div class="p-2" *ngFor="let item of resistantToList">
                        <button type="button" class="btn text-light custom" [ngStyle]="{'background-color':getColor(item)}">{{ item }}</button>
                    </div>
                </div>
                <p style="font-weight: bold;">Vulnerable To:</p>
                <div class="d-flex flex-wrap">
                    <div class="p-2" *ngFor="let item of vulnerableToList">
                        <button type="button" class="btn text-light custom" [ngStyle]="{'background-color':getColor(item)}">{{ item }}</button>
                    </div>
                </div>
                <p style="font-weight: bold;">Abilities:</p>
                <div class="d-flex flex-wrap">
                    <div class="p-2" *ngFor="let abilityList of pokemonDetail.abilities; let i = index">
                        <button type="button" class="btn btn-outline-dark custom">{{ abilityList["ability"]["name"] }}</button>
                    </div>
                </div>
                <p style="font-weight: bold;">Moves:</p>
                <div class="d-flex flex-wrap">
                    <div class="p-2" *ngFor="let moveList of pokemonDetail.moves; let i = index">
                        <button class="btn btn-outline-dark custom">{{ moveList["move"]["name"] }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

