.custom {
    width: 150px !important;
}
.card{
    border: none;
    padding: 5%;
}
.custom-card-one{
    padding: 2px;
    background-color: #1F3944;
}
h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}