<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container" style="padding-bottom: 15px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
                class="mx-auto d-block" alt="Responsive image">
        </div>
    </div>
    <div class="container">
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" id="name" placeholder="Enter Pokemon Name" [(ngModel)]="pokemonName.name" name="name">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-outline-danger">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>