<div class="container" style="padding: 60px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-lg-2">
          <span>4</span>
        </div>
        <div class="col-md-auto" style="margin: auto;">
          <img src="assets/icon.png" alt="" class="icon">
        </div>
        <div class="col col-lg-2">
          <span>4</span>
        </div>
    </div>
    <div class="text-center" style="padding-top: 10%; padding-bottom: 5%;">
        <h2>Sorry! Pokemon Not Found</h2>
    </div>
    <div class="text-center">
        <button class="btn text-light" style="background-color: #1F3944;" (click)="onSubmit()">Back To Home Page</button>
    </div>
</div>
